<div class="container" *ngIf="translationState$ | async as translationState">
    <ng-container *ngIf="translationState?.filesInfo?.length > 0; else loading">
        <mat-accordion
            *ngFor="let translationGroup of translationState.filesInfo; trackBy: trackedByFilesInfo"
            class="example-headers-align"
        >
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ translationGroup.groupName }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form
                    *ngIf="newKeysForms[translationGroup.groupName]"
                    [formGroup]="newKeysForms[translationGroup.groupName]"
                    (submit)="addNewKey(translationGroup.groupName)"
                >
                    <table>
                        <thead>
                            <tr>
                                <th>Translation Key</th>
                                <th
                                    class="cell-with-menu"
                                    *ngFor="let translationFile of translationGroup.files; trackBy: trackedByFile"
                                >
                                    <ng-template
                                        [ngIf]="isEditingFile[translationGroup.groupName + '.' + translationFile]"
                                        [ngIfElse]="showFile"
                                    >
                                        <mat-form-field>
                                            <input
                                                matInput
                                                type="text"
                                                [value]="translationFile || ''"
                                                (keydown.enter)="
                                                    renameFile(
                                                        translationGroup.groupName,
                                                        translationFile,
                                                        $event.target.value,
                                                        $event
                                                    )
                                                "
                                                (keyup.escape)="
                                                    disableRenameFile(translationGroup.groupName, translationFile)
                                                "
                                            />
                                            <mat-hint>Press enter to save, escape to cancel.</mat-hint>
                                        </mat-form-field>
                                    </ng-template>
                                    <ng-template #showFile>
                                        {{ translationFile }}
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="menu"
                                            [aria-label]="'Actions on ' + translationFile"
                                        >
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button
                                                mat-menu-item
                                                aria-label="Rename this translate file"
                                                (click)="enableRenameFile(translationGroup.groupName, translationFile)"
                                            >
                                                <mat-icon color="primary">edit</mat-icon>
                                                <span>Rename</span>
                                            </button>
                                            <button
                                                mat-menu-item
                                                aria-label="Remove this translate file"
                                                (click)="removeFile(translationGroup.groupName, translationFile)"
                                            >
                                                <mat-icon color="primary">delete</mat-icon>
                                                <span>Remove</span>
                                            </button>
                                        </mat-menu>
                                    </ng-template>
                                </th>
                                <th>
                                    <button
                                        mat-button
                                        aria-label="Add a new file"
                                        (click)="showCreateFile(translationGroup.groupName)"
                                    >
                                        Add...
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container
                                *ngFor="
                                    let translateKey of translationState.keys[translationGroup.groupName] | keyvalue;
                                    trackBy: trackedByKey
                                "
                            >
                                <tr>
                                    <th class="cell-key cell-with-menu">
                                        <ng-template
                                            [ngIf]="
                                                isEditingKey[
                                                    translationGroup.groupName +
                                                        '.' +
                                                        translationGroup.baseKey +
                                                        '.' +
                                                        translateKey.key
                                                ]
                                            "
                                            [ngIfElse]="showKey"
                                        >
                                            <mat-form-field>
                                                <input
                                                    matInput
                                                    type="text"
                                                    [value]="translateKey.key || ''"
                                                    (keydown.enter)="
                                                        renameKey(
                                                            translationGroup.groupName,
                                                            translationGroup.baseKey,
                                                            translateKey.key,
                                                            $event.target.value,
                                                            $event
                                                        )
                                                    "
                                                    (keyup.escape)="
                                                        disableRenameKey(
                                                            translationGroup.groupName,
                                                            translationGroup.baseKey,
                                                            translateKey.key
                                                        )
                                                    "
                                                />
                                                <mat-hint>Press enter to save, escape to cancel.</mat-hint>
                                            </mat-form-field>
                                        </ng-template>
                                        <ng-template #showKey>
                                            {{
                                                translationGroup.baseKey
                                                    ? translationGroup.baseKey + '.' + translateKey.key
                                                    : translateKey.key
                                            }}
                                            <button
                                                mat-icon-button
                                                [matMenuTriggerFor]="menu"
                                                [aria-label]="'Actions on ' + translateKey.key"
                                            >
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button
                                                    mat-menu-item
                                                    aria-label="Rename this translate key"
                                                    (click)="
                                                        enableRenameKey(
                                                            translationGroup.groupName,
                                                            translationGroup.baseKey,
                                                            translateKey.key
                                                        )
                                                    "
                                                >
                                                    <mat-icon color="primary">edit</mat-icon>
                                                    <span>Rename</span>
                                                </button>
                                                <button
                                                    mat-menu-item
                                                    aria-label="Remove this translate key"
                                                    (click)="removeKey(translationGroup.groupName, translateKey.key)"
                                                >
                                                    <mat-icon color="primary">delete</mat-icon>
                                                    <span>Remove</span>
                                                </button>
                                            </mat-menu>
                                        </ng-template>
                                    </th>
                                    <td
                                        class="cell-translation"
                                        *ngFor="let translationFile of translationGroup.files; trackBy: trackedByFile"
                                    >
                                        <mat-form-field
                                            [ngClass]="{ 'missing-translation': !translateKey.value[translationFile] }"
                                        >
                                            <input
                                                matInput
                                                type="text"
                                                [value]="translateKey.value[translationFile] || ''"
                                                (keyup)="
                                                    onTranslateChange(
                                                        translationGroup.groupName,
                                                        translateKey.key,
                                                        translationFile,
                                                        $event.target.value
                                                    )
                                                "
                                            />
                                            <mat-hint class="error-hint">Missing translation.</mat-hint>
                                        </mat-form-field>
                                    </td>
                                    <td></td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Key name" formControlName="key" />
                                    </mat-form-field>
                                </td>
                                <ng-container formGroupName="translations">
                                    <td *ngFor="let translationFile of translationGroup.files; trackBy: trackedByFile">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                type="text"
                                                [placeholder]="'Translation for ' + translationFile"
                                                [formControlName]="translationFile"
                                            />
                                        </mat-form-field>
                                    </td>
                                </ng-container>
                                <td class="cell-actions">
                                    <button mat-button aria-label="Add this new translate key" type="submit">
                                        Add
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
    <ng-template #loading>
        <div class="message">Loading...</div>
    </ng-template>
</div>
